---
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    {description && <meta name="description" content={description} />}
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>{title || "Andrew Gosse Composer"}</title>
  </head>
  <body class="flex flex-row p-8 gap-8 max-w-[100ch] mx-auto">
    <Sidebar />
    <slot />
  </body>
</html>
