---
export const prerender = false;
import App from "../../../tea/admin/App";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>TeaCMS</title>
  </head>
  <body>
    <div id="tea-admin-root">
      <App client:only="react" />
    </div>
  </body>
</html>
