---
import { marked } from "marked";

import type {
  ComponentSharedMedia,
  ComponentSharedRichText,
} from "../graphql/graphql";
import { externalStrapiUrl } from "../consts";

export type Block = ComponentSharedMedia | ComponentSharedRichText;

interface Props {
  blocks: Block[];
}

const { blocks } = Astro.props;

const generateStyle = (block: ComponentSharedMedia) => {
  const rotation = typeof block.rotation === "number" ? block.rotation : 0;
  const border = typeof block.border === "string" ? block.border : "none";
  return {
    transform: `rotate(${rotation}deg)`,
    border: border,
    width: block.width,
    height: block.height,
    margin: "0 auto",
  };
};
---

<article class="prose lg:prose-xl w-full flex flex-col gap-4">
  {
    blocks.map((block) => (
      <div>
        {block.__typename === "ComponentSharedMedia" && (
          <img
            src={`${externalStrapiUrl}${block.file!.url}`}
            alt={block.file!.alternativeText}
            style={generateStyle(block)}
          />
        )}
        {block.__typename === "ComponentSharedRichText" && (
          <div set:html={marked.parse(block.body!)} />
        )}
      </div>
    ))
  }
</article>
