---
import { externalStrapiUrl } from "../consts";
import type { Sidebar } from "../graphql/graphql";
import type { fetchSite } from "../lib/fetch-strapi";

interface Props {
  sidebar: Awaited<ReturnType<typeof fetchSite>>["sidebar"];
}

const sidebar = Astro.props.sidebar!;
---

<nav class="flex flex-col gap-4 w-[12rem] shrink-0">
  <a href="/" class="pb-2">
    <img
      src={`${externalStrapiUrl}${sidebar.topImage!.url}`}
      alt={sidebar.topImage!.alternativeText}
      class="w-40 h-40 mx-auto"
    />
  </a>
  <div class="flex flex-col gap-3">
    {
      sidebar.categories!.map((category) => (
        <div class="flex flex-col gap-1.5">
          <p class="text-lg font-bold">{category!.categoryTitle}</p>
          <ul class="flex flex-col gap-2">
            {category!.items.map((item) => (
              <li class="list-disc">
                <a
                  href={`/${item!.page!.slug}`}
                  class="hover:text-link hover:underline"
                >
                  {item!.text}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
  <div class="flex flex-col gap-2">
    {
      sidebar.links!.map((link) => (
        <a
          href={link!.url}
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-link hover:underline"
        >
          {link!.service}
        </a>
      ))
    }
  </div>
</nav>
