---
import { fetchSidebar } from "../lib/fetch-strapi";

const sidebar = await fetchSidebar();
---

<nav class="flex flex-col gap-4">
  <div class="flex flex-col gap-3">
    {
      sidebar.categories!.map((category) => (
        <div class="flex flex-col gap-1.5">
          <p class="text-lg font-bold">{category!.categoryTitle}</p>
          <ul class="flex flex-col gap-2">
            {category!.items.map((item) => (
              <li class="list-disc">
                <a href={`/${item!.page!.slug}`}>{item!.text}</a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
  <div class="flex flex-col gap-2">
    {
      sidebar.links!.map((link) => (
        <a href={link!.url} target="_blank" rel="noopener noreferrer">
          {link!.service}
        </a>
      ))
    }
  </div>
</nav>
