---
import Layout from "../layouts/Layout.astro";
import { fetchHomepage } from "../lib/fetch-strapi";

const homepage = await fetchHomepage();
---

<Layout
  title={homepage.seo.metaTitle}
  description={homepage.seo.metaDescription}
>
  <h1>{homepage.seo.metaTitle}</h1>
</Layout>
